@import 'registervariables.less';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#cadres{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid red;
    padding-inline: 20px;
    #menu{
        display: none;
    }



    #posts{
        height: auto;
        width: 850px;
        margin-top: 40px;
        border-top: 5px solid @color1;
        box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        
        #titleposts{
            display: flex;
            flex-direction: column;
            padding: 30px;
            
            h3{
                font-weight: 300;
            }
        }
        #lastposts{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;  
            // border: 1px solid blue;
              overflow: hidden;

                .col{
                    height: 600px;
                    width: 250px;
                    margin-inline: 10px;
                    
                    
                    
                    .art1{
                        height: 50%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color:black;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }
                        
                    }
                    .art1:nth-child(2){
                        height: 40%;
                        width: 100%;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }
                    

                    .art2{
                        height: 40%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }

                    }
                    .art2:nth-child(2){
                        height: 50%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }

                    
                    .art3{
                        height: 50%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color:black;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }

                    }

                    .art3:nth-child(2){
                        height: 40%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }
                }
            }
            
    
    }
    #actus{
        height: auto;
        width: 360px;
        margin-top: 40px;
        border-top: 5px solid @color1;
        box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        // border: 1px solid blue;
        display: flex;
        flex-direction: column;
    
        #titleactus{
            display: flex;
            flex-direction: column;
            padding: 30px;
            margin-bottom: 30px;

            h3{
                font-weight: 300;
            }
        }
        #lastactus{
           
            // border: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-inline: 10px;

            #cadreactu{
                width: 300px;
                height: 250px;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                flex-direction: column;  
                position: relative;
            }
            
            .imageactus{
                width:270px;
                height: 150px;
                

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }
            .ville{
                height: 25px;
                width: 120px;
                background-color: @color1;
                position: absolute;
                top: 40px;
                right: 10px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: smaller;
                font-weight: bold;
            }
            .descriptactus{
               
                font-size: smaller;
                h3{
                padding-top: 10px;
                color: @color2;
                }
            }
        }
    
    }
}




// responsive

@media screen and (max-width: 350px) {


    #closebutton{
        display: flex!important;
    }
    #menu{
        display: flex!important;
        width: 100%;
        height: 60px;
        background-color: @color3;
        position: fixed;
        z-index: 20;
        padding: 10px;

        #openbutton{
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @color1;
            
        }

    }
    #posts{
        margin-top: 80px!important;
    }
    #actus{
        margin-bottom: 40px;
    }
    .imageactus{
        width: 250px!important;
    }
    #cadreactu{
        width: 260px!important;

    }
    section{
        z-index: 15;
    }
    header{
        display: none;
        width: 100%!important;
        height: 100vh!important;
        z-index: 30;
        position: fixed;

        #imageprofil{
            margin-top: 30px!important;
        }
        button{
            margin-top: 20px!important;
        }
    }
}