@import 'registervariables.less';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(128, 128, 128, 0.300);
    display: flex;
    flex-direction: row;
}
header{
    height: 100vh;
    width: 20%;
}
#bandeau{
    height: 100%;
    background-color: @color3;
}
a{
    color: #fff;
    text-decoration: none;   
}
#bloc1{
width: 100%;
height:45%;
display: flex;
text-align: center;
align-items: center;
flex-direction: column;

    #nomprofil {
        color:#fff;
        margin-top: 20px;
        #firstname{
        font-family: 'Playfair Display', serif;
        font-weight: 200;
        }
        #lastname{
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        }   
    }

    #imageprofil{
    border-radius: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;

        img{
            overflow: hidden;
            border-radius: 50%;
        }     
    }
    
    button{
        width: 200px;
        height: 40px;
        margin-top: 30px;
        background-color: @color2;
        border-radius: 5px;
        border: none;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
}
#bloc2{
    width: 100%;
    height:55%;
    display: flex;
    color: #fff;
    background-color: #13172c;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

    h3{
        margin-bottom: 20px;
    }
    #liens{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;

        a{
            width: 100%;
            height: 40px;
            padding: 10px;
            padding-left:40px;
        }
        a:hover{
            color: @color1;
            background-color: @color3 ;
        }
        #select{
            background-color: #0baa9f4f;
        }
    }
}

#cadres{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 90%;
    width: 90%;
    font-family: 'Montserrat', sans-serif;



    #posts{
        height: 680px;
        width: 50%;
        margin: 40px;
        border-top: 5px solid @color1;
        box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        display: flex;
        flex-direction: column;

            #titleposts{
                display: flex;
                flex-direction: column;
                padding: 30px;

                h3{
                    font-weight: 300;
                }
            }
            #lastposts{
              display: flex;
              justify-content: center;
              height: 100%;
              width: 100%;  
              overflow: hidden;

                .col{
                    height: 520px;
                    width: 190px;
                    margin-inline: 10px;
                    
                    
                    
                    .art1{
                        height: 55%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color:black;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }
                        
                    }
                    .art1:nth-child(2){
                        height: 45%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }
                    

                    .art2{
                        height: 45%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }

                    }
                    .art2:nth-child(2){
                        height: 55%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }

                    
                    .art3{
                        height: 55%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color:black;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                            filter: opacity(40%);
                        }
                        .containarticle{
                            padding: 15px;
                            z-index: 2;
                            position: absolute;

                            p{
                                font-size: smaller;
                            }
                            span{
                                color: @color2;
                            }
                        }

                    }

                    .art3:nth-child(2){
                        height: 45%;
                        width: 100%;
                        margin-bottom: 20px;
                        color: #fff;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        background-color: black;
                        position: relative;
                    }
                }
            }
            
    
    }
    #actus{
        height: 680px;
        width: 35%;
        margin: 40px;
        margin-left: 20px;
        border-top: 5px solid @color1;
        box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
        background-color: #fff;
        display: flex;
        flex-direction: column;
    
        #titleactus{
            display: flex;
            flex-direction: column;
            padding: 30px;

            h3{
                font-weight: 300;
            }
        }
        #lastactus{
            height: 100%;
            width: 100%;

            .ville{
                height: 30px;
                width: 100px;
                background-color: @color1;
                position: relative;
                top: 50px;
                left: 340px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: smaller;
                font-weight: bold;
            }
            .imageactus{
                display: flex;
                justify-content: center;

            }
            .descriptactus{
                margin-inline: 20px;
                padding-inline: 25px;
                font-size: smaller;
                h3{
                padding-top: 10px;
                color: @color2;
                }
            }
        }
    
    }
}