@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  flex-direction: row;
}
#bandeau {
  width: 280px;
  height: 100%;
  background-color: #191e39;
}
a {
  color: #fff;
  text-decoration: none;
}
#bloc1 {
  width: 100%;
  height: 45%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#bloc1 #nomprofil {
  color: #fff;
  margin-top: 20px;
}
#bloc1 #nomprofil #firstname {
  font-family: 'Playfair Display', serif;
  font-weight: 200;
}
#bloc1 #nomprofil #lastname {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#bloc1 #imageprofil {
  border-radius: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
#bloc1 #imageprofil img {
  overflow: hidden;
  border-radius: 50%;
}
#bloc1 button {
  width: 200px;
  height: 40px;
  margin-top: 30px;
  background-color: #0baa9f;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#bloc2 {
  width: 100%;
  height: 55%;
  display: flex;
  color: #fff;
  background-color: #13172c;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#bloc2 h3 {
  margin-bottom: 20px;
}
#bloc2 #liens {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
#bloc2 #liens a {
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-left: 40px;
}
#bloc2 #liens a:hover {
  color: #f2bf2c;
  background-color: #191e39;
}
#bloc2 #liens #select {
  background-color: #0baa9f4f;
}
#cadres {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 90%;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
}
#cadres #posts {
  height: 100%;
  width: 50%;
  margin: 40px;
  border-top: 5px solid #f2bf2c;
  box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#cadres #posts #titleposts {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#cadres #posts #titleposts h3 {
  font-weight: 300;
}
#cadres #posts #lastposts {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#cadres #posts #lastposts .col {
  height: 520px;
  width: 190px;
  margin-inline: 10px;
}
#cadres #posts #lastposts .col .art1 {
  height: 55%;
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}
#cadres #posts #lastposts .col .art1 p {
  font-size: smaller;
}
#cadres #posts #lastposts .col .art1 span {
  color: #0baa9f;
}
#cadres #posts #lastposts .col .art2 {
  height: 45%;
  width: 100%;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
}
#cadres #posts #lastposts .col .art2 p {
  font-size: smaller;
}
#cadres #posts #lastposts .col .art2 span {
  color: #0baa9f;
}
#cadres #actus {
  height: 100%;
  width: 35%;
  margin: 40px;
  margin-left: 20px;
  border-top: 5px solid #f2bf2c;
  box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
#cadres #actus #titleactus {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
#cadres #actus #titleactus h3 {
  font-weight: 300;
}
#cadres #actus #lastactus {
  height: 100%;
  width: 100%;
}
#cadres #actus #lastactus .ville {
  height: 30px;
  width: 100px;
  background-color: #f2bf2c;
  position: relative;
  top: 50px;
  left: 340px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: smaller;
  font-weight: bold;
}
#cadres #actus #lastactus .imageactus {
  display: flex;
  justify-content: center;
}
#cadres #actus #lastactus .descriptactus {
  margin-inline: 20px;
  padding-inline: 25px;
  font-size: smaller;
}
#cadres #actus #lastactus .descriptactus h3 {
  padding-top: 10px;
  color: #0baa9f;
}
