@import 'registervariables.less';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#cadres{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    padding-inline: 40px;
    
    #menu{
        display: none;
        
    }
    #title{
        margin-top: 50px;
        margin-bottom: 50px;
        
        h1{
            font-weight: bold;
        }
        
        #soustitre{
            font-weight: 50;
        }
    }
    
    #search {
        width: 100%;
        height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        align-items: center; 
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
        box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
        #villes{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
        }
        a{
        color: black;
        padding-inline: 10px;  
        }
        a:hover{
        color: @color2;
        }
        #research{
            width: 280px;
            display: flex;
            flex-direction: row;

            #btnsearch{
                background-color: @color1; 
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            input{
                height: 40px;
                width: 240px;
                border: 1px solid @color1;
            }
            ::placeholder{
                padding-left: 10px;
            }
        }


    }
    #actus{
    height: 500px;
    width: 100%;
    border-top: 5px solid @color1;
    box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;

    #lastactus{
      
        width: 100%;
        display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

        #actu1{
            width: 280px;
            margin-inline: 20px;
            margin-top: 30px;
            margin-bottom: 30px;
            position: relative;

            .ville{
                height: 20px;
                width: 120px;
                background-color: @color1;
                position: absolute;
                top: 15px;
                right: -15px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                font-size: smaller;
                font-weight: bold;
            }
            .imageactus{
                display: flex;
                height: 150px;
                width: 280px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                

            }
            .descriptactus{
                
                
                font-size: smaller;
                h3{
                padding-top: 10px;
                color: @color2;
                }
            }
        }
    }
    }
}


// responsive

@media screen and (max-width: 350px) {


    #closebutton{
        display: flex!important;
    }
    #menu{
        display: flex!important;
        width: 100%;
        height: 60px;
        background-color: @color3;
        position: fixed;
        z-index: 20;
        padding: 10px;
        top: 0;
        left: 0;

        #openbutton{
            width: 40px;
            height: 40px;
            border: 1px solid white;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: @color1;
            
        }

    }
    section{
        z-index: 15;
    }
    header{
        display: none;
        width: 100%!important;
        height: 100vh!important;
        z-index: 30;
        position: fixed;

        #imageprofil{
            margin-top: 30px!important;
        }
        button{
            margin-top: 20px!important;
        }
    }

    #cadres{
        padding-inline: 20px!important;

        h1{
            margin-top: 40px;
        }
        #search{
            padding-top: 15px;

            #research{
                padding-top: 40px;
            }
        }

        #actus{
            margin-top: 60px;
            margin-bottom: 40px;
           overflow-y: hidden;
           height: auto;

            #actu1{
                padding-inline: 10px;
                width: 280px!important;
                // border: 1px solid red;

                .imageactus{
                    width: 260px!important;
                }
                .ville{
                    right:10px!important;
                }
            }
            
        }
    }
}