@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
.nouveau {
  color: black;
}
.nouveau2 {
  color: black;
  width: 200px;
  height: 60px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #f2bf2c;
  background-color: #f2bf2c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grandblock {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-family: "Playfair Display Italic";
}
.titre {
  font-size: 40px;
  font: italic 5em "Fira Sans", serif;
  margin-bottom: 70px;
}
.tableau {
  display: flex;
  justify-content: center;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 200px;
  height: 320px;
}
thead th {
  background-color: #f2bf2c;
  width: 200px;
  height: 50px;
}
tbody td {
  background-color: rgba(255, 255, 255, 0.74);
  padding: 15px;
}
tbody tr {
  border-bottom: 2px solid;
  border-bottom-color: rgba(128, 128, 128, 0.308);
}
.afficher {
  background-color: #0baa9f;
  color: white;
  border-radius: 5px;
  border: none;
}
.modifier {
  background-color: #191e39;
  color: white;
  border-radius: 5px;
  border: none;
}
.supprimer {
  background-color: #d12121;
  color: white;
  border-radius: 5px;
  border: none;
}
