@import "adminvariables.less";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital@1&display=swap");

.tout {
  width: 500px;
  height: 200px;
}
.titre {
  text-align: center;
}

.contenu {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 60px;
}

.retour2 {
  margin-top: 50px;
  color: black;
}
