@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(128, 128, 128, 0.3);
}
header {
  background-image: url(../img/menu-admin-verticale.jpg);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-color: #19a498;
  width: 330px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media all and (max-width: 700px) {
  header {
    width: auto;
  }
}
@media all and (max-width: 400px) {
  header {
    width: 100%;
    height: 300px;
    flex-direction: column;
  }
}
.logoheader img {
  width: 200px;
  height: 173px;
}
@media all and (max-width: 500px) {
  .logoheader img {
    display: flex;
    margin: auto;
    width: 100px;
    height: 90px;
  }
}
.titreheader {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
}
.menuheader ul {
  justify-content: flex-end;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 700px) {
  .menuheader ul {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
ul {
  list-style-type: none;
}
.menuheader a {
  padding: 13px;
  text-decoration: none;
  color: white;
}
footer {
  height: 45px;
  width: 100%;
  background-color: #f2bf2c;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
