@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
.titre {
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: 70px auto;
  font: italic 5em "Fira Sans", serif;
}
.bloc-form {
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.bloc-form label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.bloc-form input,
.bloc-form textarea,
.bloc-form select {
  padding: 5px 12px;
  width: 100%;
  display: block;
}
.bloc-form textarea {
  height: 150px;
}
.bloc-form .btns {
  width: 100%;
  margin-top: 20px;
}
.bloc-form .btns .btn {
  display: inline-block;
  padding: 8px 20px;
  background-color: #0baa9f;
  border: none;
  color: #333;
  margin: 0 10px;
}
.retour2 {
  margin-top: 100px;
  color: black;
  width: 120px;
  height: 50px;
  display: inline-block;
  background-color: gray;
}
