body {
  background-image: url("../img/connexion-fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
