@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v22/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/connexion-fond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
@media all and (max-width: 1350px) {
  body {
    background-size: auto;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logintitle {
  color: #0baa9f;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", serif;
}
.loginconnection {
  color: #0baa9f;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 1.8em;
}
.loginform {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
input {
  background-color: #191e39;
  border: 1px solid #0baa9f;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
  width: 300px;
  height: 40px;
  padding: 10px;
  font-family: "Montserrat", serif;
  margin-left: auto;
  margin-right: auto;
}
::placeholder {
  color: rgba(255, 255, 255, 0.76);
}
.btn {
  background-color: #0baa9f;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 2px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Montserrat", serif;
}
