@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
#cadres {
  display: flex;
  justify-content: center ;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}
#cadres #menu {
  display: none;
  top: 0;
  left: 0;
}
#cadres #title {
  margin-bottom: 80px;
}
#cadres #title .lighter {
  font-weight: lighter;
}
#cadres #title .categ {
  color: #0baa9f;
}
#cadres #formulairepost {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-top: 5px solid #f2bf2c;
  padding-bottom: 20px;
  box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
}
#cadres #formulairepost #user {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}
#cadres #formulairepost input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  width: 180px;
  height: 40px;
  background-color: #fff;
  color: black;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #191e39;
}
#cadres #formulairepost select {
  display: flex;
  width: 180px;
  height: 40px;
  background-color: #fff;
  color: black;
  padding-inline: 10px;
  border-radius: 5px;
  border: 1px solid #191e39;
}
#cadres #formulairepost .btn {
  width: 180px;
  height: 40px;
  margin-inline: 43%;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 5px;
  border: none;
  background-color: #191e39;
  color: #fff;
}
#cadres #formulairepost a {
  display: flex;
  justify-content: center;
  color: black!important;
}
@media screen and (max-width: 350px) {
  #closebutton {
    display: flex!important;
  }
  #menu {
    display: flex!important;
    width: 100%;
    height: 60px;
    background-color: #191e39;
    position: fixed;
    z-index: 20;
    padding: 10px;
  }
  #menu #openbutton {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2bf2c;
  }
  section {
    z-index: 15;
  }
  header {
    display: none;
    width: 100%!important;
    height: 100vh!important;
    z-index: 30;
    position: fixed;
  }
  header #imageprofil {
    margin-top: 30px!important;
  }
  header button {
    margin-top: 20px!important;
  }
  #cadres {
    padding: 10px!important;
    width: 300px!important;
  }
  #cadres #title {
    padding: 0px!important;
  }
  #cadres #title h1 {
    margin-top: 80px!important;
  }
  #formulairepost {
    width: 300px!important;
    padding-bottom: 20px!important;
    overflow: hidden;
  }
  #formulairepost .btn {
    width: 120px!important;
    margin-inline: 30%!important;
  }
}
