@import 'registervariables.less';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(128, 128, 128, 0.300);
    display: flex;
    flex-direction: row;
}
header{
    width: 20%;
    height: 100vh;
}
#bandeau{
    width: 280px;
    height: 100%;
    background-color: @color3;
}
a{
    color: #fff;
    text-decoration: none;   
}
#bloc1{
width: 100%;
height:45%;
display: flex;
text-align: center;
align-items: center;
flex-direction: column;

    #nomprofil {
        color:#fff;
        margin-top: 20px;
        #firstname{
        font-family: 'Playfair Display', serif;
        font-weight: 200;
        }
        #lastname{
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        }   
    }

    #imageprofil{
    border-radius: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;

        img{
            overflow: hidden;
            border-radius: 50%;
            object-fit: cover;
        }     
    }
    
    button{
        width: 200px;
        height: 40px;
        margin-top: 30px;
        background-color: @color2;
        border-radius: 5px;
        border: none;
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
}
#bloc2{
    width: 100%;
    height:55%;
    display: flex;
    color: #fff;
    background-color: #13172c;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;

    h3{
        margin-bottom: 20px;
    }
    #liens{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;

        a{
            width: 100%;
            height: 40px;
            padding: 10px;
            padding-left:40px;
        }
        a:hover{
            color: @color1;
            background-color: @color3 ;
        }
        #select{
            background-color: #0baa9f4f;
        }
    }
}

#cadres{
    display: flex;
    justify-content:flex-start ;
    flex-direction: column;
    height: 100%;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    
    #title{
        padding: 50px;
        
        .lighter{
            font-weight: lighter;
        }
        .categ{
            color: @color2;
        }
    }
    #user{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    input{
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
        width: 180px;
        height: 40px;
        background-color: @color3;
        color: #fff;
        padding-inline: 10px;
        border-radius: 5px;
        border: 1px solid @color2;
        margin-inline: 50px;
    }
    select{
        display: flex;
        margin-bottom: 20px;
        width: 180px;
        height: 40px;
        background-color: @color3;
        color: #fff;
        padding-inline: 10px;
        border-radius: 5px;
        border: 1px solid @color2;
        margin-inline: 50px;

    }
    .btn{
        width: 180px;
        height: 40px;
        margin-inline: 43%; 
        margin-bottom: 50px;
        margin-top: 50px;
        border-radius: 5px;
        border: none;
        background-color: @color2;
        color: #fff;

    }
    label{
        margin-inline: 50px;

    }

}
#cadres a{
    display: flex;
    justify-content: center;
    color: black;
}