@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v25/nuFRD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qiTbtY.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
#cadres {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  padding-inline: 40px;
}
#cadres #menu {
  display: none;
}
#cadres #banniere {
  width: auto;
  height: 180px;
  position: relative;
  top: 0;
  margin-top: 30px;
  border-bottom: 5px solid #f2bf2c;
}
#cadres #banniere img {
  overflow: hidden;
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#cadres #banniere #cadreprofil {
  position: absolute;
  height: 150px;
  width: 150px;
  left: 42%;
  top: 70px;
}
#cadres #banniere #cadreprofil img {
  overflow: hidden;
  border-radius: 150px;
  object-fit: cover;
  border: 8px solid #fff;
}
#cadres #cadre2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#cadres #cadre2 #descriptprofil {
  height: 340px;
  width: 300px;
  margin-top: 30px;
  background-color: #fff;
}
#cadres #cadre2 #descriptprofil #nomprenom {
  margin-top: 20px;
  padding-inline: 20px;
}
#cadres #cadre2 #descriptprofil #nomprenom #firstname {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
#cadres #cadre2 #descriptprofil #nomprenom #lastname {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#cadres #cadre2 #descriptprofil #posteville {
  margin-top: 10px;
  padding-inline: 20px;
  font-size: 0.8em;
}
#cadres #cadre2 #descriptprofil #posteville .ville {
  color: #0baa9f;
}
#cadres #cadre2 #descriptprofil #description {
  margin-top: 30px;
  padding-inline: 20px;
}
#cadres #cadre2 #descriptprofil #icones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#cadres #cadre2 #descriptprofil #icones .icone {
  width: 30px;
  height: 30px;
  border: 2px solid #f2bf2c;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 10px;
}
#cadres #cadre2 #descriptprofil #icones a {
  color: black!important;
}
#cadres #cadre2 #descriptprofil #mail {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 30px;
}
#cadres #cadre2 #descriptprofil #mail button {
  width: 70%;
  height: 30px;
  background-color: #191e39;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
#cadres #cadre2 #lastposts {
  margin-top: 80px;
  width: 50%;
  height: 85%;
}
#cadres #cadre2 #lastposts span {
  font-weight: 300;
}
#cadres #cadre2 #lastposts #cadrespost {
  width: 100%;
  height: 380px;
  margin-top: 20px;
  padding-inline: 20px;
  overflow-y: scroll;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 1px 2px 15px 1px rgba(0, 0, 0, 0.5);
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postimgprofil {
  margin: 20px;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postimgprofil img {
  border-radius: 150px;
  object-fit: cover;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postnomprenom {
  padding-top: 20px;
  font-size: 0.8em;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postnomprenom #firstname {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postnomprenom #lastname {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postdatepubli {
  color: #0baa9f;
  font-size: 0.7em;
  font-weight: bold;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #posttitre {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.8em;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postdescript {
  font-size: 0.8em;
  padding-right: 10px;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postcategorie {
  height: 20px;
  width: 150px;
  background-color: #f2bf2c;
  position: absolute;
  top: 15px;
  right: -15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: smaller;
  font-weight: bold;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #postinteract {
  margin-top: 20px;
  width: 250px;
  font-size: 0.8em;
  font-weight: bold;
  color: #191e39;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#cadres #cadre2 #lastposts #cadrespost .cadrepost #postcontent #comments a {
  color: #191e39;
}
#cadres #cadre2 #buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#cadres #cadre2 #buttons button {
  width: 180px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #191e39;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}
#cadres #cadre2 #buttons #selected {
  background-color: #0baa9f;
}
@media screen and (max-width: 350px) {
  #closebutton {
    display: flex!important;
  }
  #menu {
    display: flex!important;
    width: 100%;
    height: 60px;
    background-color: #191e39;
    position: fixed;
    z-index: 20;
    padding: 10px;
    top: 0;
    left: 0;
  }
  #menu #openbutton {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2bf2c;
  }
  section {
    z-index: 15;
  }
  header {
    display: none;
    width: 100%!important;
    height: 100vh!important;
    z-index: 30;
    position: fixed;
  }
  header #imageprofil {
    margin-top: 30px!important;
  }
  header button {
    margin-top: 20px!important;
  }
  #cadres {
    padding-inline: 20px!important;
  }
  #cadres #banniere {
    margin-top: 80px!important;
    height: 80px;
  }
  #cadres #banniere #cadreprofil {
    height: 100px;
    width: 100px;
    left: 35%;
    top: 10px;
  }
  #cadres #banniere #cadreprofil img {
    border: 4px solid #fff;
  }
  #cadres #title {
    padding: 0px!important;
    margin-bottom: 20px;
  }
  #cadres #title h1 {
    margin-top: 80px!important;
  }
  #cadres #cadre2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  #cadres #cadre2 #descriptprofil {
    margin-bottom: 30px!important;
    height: auto;
    order: 2;
  }
  #cadres #cadre2 #descriptprofil #mail button {
    margin-bottom: 20px!important;
  }
  #cadres #cadre2 #lastposts {
    width: 100%!important;
    margin-bottom: 30px!important;
    order: 3;
  }
  #cadres #cadre2 #lastposts #cadrespost {
    overflow-y: hidden;
    height: auto;
  }
  #cadres #cadre2 #lastposts #postinteract {
    width: 150px!important;
    flex-direction: column-reverse !important;
  }
  #cadres #buttons {
    flex: 1;
    order: 1;
    margin-top: 40px!important;
    margin-bottom: 10px;
    display: flex;
  }
  #cadres #buttons button {
    width: 120px!important;
    height: 30px;
  }
}
