@import 'registermixins.less';
@import 'registervariables.less';
@import 'registerresponsive.less';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#register{
    height: auto;
    width: 100%;
    
}
#registertitle{
    color: @color2;
   
    h1{
        font-family: 'Playfair Display', serif;
        font-size: 3.8em;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
    }
}
form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-inline: 150px;
}
#registerform{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    input{
        .formstyle;
        width: 300px;
        height: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    select {
       .formstyle; 
       width: 300px;
        height: 40px;
        display: flex;
        flex-direction: column;
        padding-top: 10px; 
        margin-bottom: 10px;
        font-weight: bold;

    }
    
    ::placeholder{
        padding-left: 5px;
        color: #fff;
    }
}
.required{
    color: #fff; 
    display: flex;
    justify-content: flex-start;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    background-color: @color2 ;
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 2px;
    font-size: 20px;
    margin: auto;
    margin-bottom: 40px;
}
#validform{
    margin-top: 40px;  

    .required{
        display: flex;
        justify-content: center;
    } 
    input{
        width: 20px;
        height: 20px;
        margin-bottom: 20px;
    }
}
