{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/profilstyle.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2>
            </div>
            <div id="button">
                <button><a href="#"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="/index">Accueil</a>
                <a href="/actualites">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="/vie-des-chocolateries">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>


        <div id="cadres">
            <div id="banniere" style="background-image:url('../img/profils/anthony riviere/foret-bandeau-profil.jpeg');">
            
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="180px" height="180px" alt="">
            </div>
            <div id="cadre2">
                <div id="descriptprofil">
                    <div id="nomprenom"><h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2></div>
                    <div id="posteville"><h3>Gérant - <span class="ville">Nevers</span></h3></div>
                    <div id="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, mollitia dicta tenetur molestias minus cumque, odit eius iste culpa nemo harum impedit natus quasi sunt.</div>

                    <div id="icones">
                            <div class="icone"><i class="fab fa-facebook-f"></i></div>
                            <div class="icone"><i class="fab fa-instagram"></i></div>
                            <div class="icone"><i class="fab fa-twitter"></i></div>
                            <div class="icone"><i class="fab fa-linkedin-in"></i></div>
                        </div>
                        <div id="mail">
                        <button>Envoyer un mail</button>
                        </div>
                </div>

                <div id="lastposts">
                    <h1>Les derniers <span>posts publiés</span></h1>
                    <div id="cadrespost">
                        <div class="cadrepost">

                            <div id="postimgprofil">
                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="100px" height="100px" alt="">   
                            </div>
                            <div id="postcontent">
                                <div id="postnomprenom"><h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2></div>
                                <div id="postdatepubli"><p>Publié le 19/09/2021</p></div>

                                <div id="posttitre"><h3>Lorem ipsum dolor sit amet</h3></div>
                                <div id="postdescript"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur alias modi esse qui numquam deserunt iste ut, sunt repellat! Eveniet quis nobis, rem perferendis voluptates animi dolores optio dolorum quisquam!</p></div>
                                <div id="postcategorie">Animations</div>

                                <div id="postinteract">
                                <div id="comments">5 <i class="far fa-comments"></i>&nbsp; commentaires</div>
                                <div id="likes">3 <i class="far fa-heart"></i>&nbsp; j'aime</div>
                                </div>
                            </div>
                        </div>

                        <div class="cadrepost">

                            <div id="postimgprofil">
                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="100px" height="100px" alt="">   
                            </div>
                            <div id="postcontent">
                                <div id="postnomprenom"><h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2></div>
                                <div id="postdatepubli"><p>Publié le 19/09/2021</p></div>

                                <div id="posttitre"><h3>Lorem ipsum dolor sit amet</h3></div>
                                <div id="postdescript"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur alias modi esse qui numquam deserunt iste ut, sunt repellat! Eveniet quis nobis, rem perferendis voluptates animi dolores optio dolorum quisquam!</p></div>
                                <div id="postcategorie">Animations</div>

                                <div id="postinteract">
                                <div id="comments">5 <i class="far fa-comments"></i>&nbsp; commentaires</div>
                                <div id="likes">3 <i class="far fa-heart"></i>&nbsp; j'aime</div>
                                </div>
                            </div>
                        </div>

                        <div class="cadrepost">

                            <div id="postimgprofil">
                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="100px" height="100px" alt="">   
                            </div>
                            <div id="postcontent">
                                <div id="postnomprenom"><h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2></div>
                                <div id="postdatepubli"><p>Publié le 19/09/2021</p></div>

                                <div id="posttitre"><h3>Lorem ipsum dolor sit amet</h3></div>
                                <div id="postdescript"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur alias modi esse qui numquam deserunt iste ut, sunt repellat! Eveniet quis nobis, rem perferendis voluptates animi dolores optio dolorum quisquam!</p></div>
                                <div id="postcategorie">Animations</div>

                                <div id="postinteract">
                                <div id="comments">5 <i class="far fa-comments"></i>&nbsp; commentaires</div>
                                <div id="likes">3 <i class="far fa-heart"></i>&nbsp; j'aime</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div id="buttons">
                    {% if is_granted ("ROLE_ADMIN") %}
                    <button><a href="{{ path('admin') }}">Admin</a></button>
                    {% endif %}
                    <button><a href="{{ path('modif_profil_edit', {'id': user.id}) }}">Modifier mon profil</a></button>
                    <button><a href="{{ path('post_new') }}">Publier un post</a></button>
                    <button id="selected">Trombinoscope</button>
                </div>
            </div>
        
        </div>


        

       
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
