{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}
{% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="{{ asset ('css/accueilstyle.css') }}">
        {% endblock %}
{% block body %}
<div id="bandeau">

        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" alt="">
            </div>
            <div id="nomprofil">
                <h2>Anthony RIVIERE</h2>
            </div>
            <div id="button">
            <button><i class="fas fa-user-alt"></i> Voir mon profil</button>

            </div>
        
        </div>
        <div id="bloc2">
        <div id="liens">
            <h3 id="accueil">Accueil</h3>
            <h3>Actualités de l'entreprise</h3>
            <h3>Trombinoscope</h3>
            <h3>La vie des chocolateries</h3>
            <h3><i class="fas fa-power-off"></i> Déconnexion</h3>
        </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>
        

    
    </div>
{% endblock %}
