{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/chocolateriesuniquestyle.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2>
            </div>
            <div id="button">
                <button><a href="/profil"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="/index">Accueil</a>
                <a href="/actualites">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="#" id="select">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>
    <div id="cadres">
        <div id="title">
            <h1>La vie <span class="lighter">des chocolateries,</span> <span class="categ">Animations</span></h1>
        </div>
        <div id="cadre2">
            <div id="lastregister">
                <h2>Les derniers inscrits</h2>

                <div class="person">
                    <img src="../img/profils/arthur allemand/arthur-allemand-homme.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">Arthur</p><p class="nom">ALLEMAND</p>
                        </div>
                </div>

                <div class="person">
                    <img src="../img/profils/eliott treik/man-lunettes.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">Eliott</p><p class="nom">TREIK</p>
                        </div>
                </div>

                <div class="person">
                    <img src="../img/profils/evelyne alebat/woman-blond-smile.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">Evelyne</p><p class="nom">ALEBAT</p>
                        </div>
                </div>

                <div class="person">
                    <img src="../img/profils/leslie espinosa/femme-chapeau.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">Leslie</p><p class="nom">ESPINOSA</p>
                        </div>
                </div>

                <div class="person">
                    <img src="../img/profils/marvin raoul/homme-lumieres.jpeg" width="60px" height="60px" alt="">   
                        <div class="identite">
                        <p class="prenom">Marvin</p><p class="nom">RAOUL</p>
                        </div>
                </div>
                        
            </div>

            <div id="lastposts">
                    <div id="cadrespost">
                        <div class="cadrepost">

                            <div id="postimgprofil">
                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="100px" height="100px" alt="">   
                            </div>
                            <div id="postcontent">
                                <div id="postnomprenom"><h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2></div>
                                <div id="postdatepubli"><p>Publié le 19/09/2021</p></div>

                                <div id="posttitre"><h3>Lorem ipsum dolor sit amet</h3></div>
                                <div id="postdescript"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur alias modi esse qui numquam deserunt iste ut, sunt repellat! Eveniet quis nobis, rem perferendis voluptates animi dolores optio dolorum quisquam!</p></div>
                                <div id="postcategorie">Animations</div>

                                <div id="postinteract">
                                <div id="comments">5 <i class="far fa-comments"></i>&nbsp; commentaires</div>
                                <div id="likes">3 <i class="far fa-heart"></i>&nbsp; j'aime</div>
                                </div>
                            </div>
                        </div>
                        <div id="commentaires">
                            <div id="textarea">
                                <textarea name="" id="" cols="30" rows="10" placeholder="Ecrivez votre commentaire..."></textarea>
                            </div>
                            <div id="submitbutton">
                                <button>Publier</button>
                            </div>
                            <div id="titlecomment">
                                <h3>Les commentaires existants</h3>
                            </div>
                            <div id="comments">
                                <div class="commentrow">
                                    <div class="comment1">
                                        <div class="imgcomment">
                                            <img src="../img/profils/evelyne alebat/woman-blond-smile.jpeg" width="40px" height="40px" alt="">   
                                        </div>
                                        <div class="textcomment">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium </p>
                                        <p class="date">le 19/09/2019</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentrow">
                                    <div class="comment1">
                                        <div class="imgcomment">
                                            <img src="../img/profils/evelyne alebat/woman-blond-smile.jpeg" width="40px" height="40px" alt="">   
                                        </div>
                                        <div class="textcomment">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium </p>
                                        <p class="date">le 19/09/2019</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="commentrow">
                                    <div class="comment2">
                                        <div class="imgcomment">
                                                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="40px" height="40px" alt="">   
                                        </div>
                                        <div class="textcomment">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium </p>
                                        <p class="date">le 19/09/2019</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="commentrow">
                                    <div class="comment1">
                                        <div class="imgcomment">
                                            <img src="../img/profils/evelyne alebat/woman-blond-smile.jpeg" width="40px" height="40px" alt="">   
                                        </div>
                                        <div class="textcomment">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium </p>
                                        <p class="date">le 19/09/2019</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                
            </div>
            <div id="categories">

                <a href="#" class="linkcateg">Tous les posts</a>
                <a href="#" class="linkcateg" id="select">Animations</a>
                <a href="#" class="linkcateg">Divers</a>
                <a href="#" class="linkcateg">Vie de l'entreprise</a>
                <a href="#" class="linkcateg">Améliorations</a>
                <a href="#" class="linkcateg">Questions</a>
            </div>

        </div>



    </div>   
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
