<form method="post" action="{{ path('modif_profil_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button class="btn">Supprimer</button>
</form>
