{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/viechocolateries.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2>
            </div>
            <div id="button">
                <button><a href="/profil"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="/index">Accueil</a>
                <a href="/actualites">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="#" id="select">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>
    <div id="cadres">

       
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
