{% extends 'baseadmin2.html.twig' %}

{% block title %}Edit Chocolaterie
{% endblock %}

{% block body %}
	<h1>Chocolaterie</h1>

	{{ include('admin_chocolaterie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('admin_chocolaterie_index') }}">Retour à la liste</a>

	{{ include('admin_chocolaterie/_delete_form.html.twig') }}
{% endblock %}
