{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block stylesheets %}         
    <link rel="stylesheet" href="{{ asset ('css/actualitesstyle.css') }}">
{% endblock %}

{% block body %}
    <div id="bandeau">
        <div id="bloc1">
            <div id="imageprofil">
                <img src="../img/profils/anthony riviere/anthony-riviere.jpg" width="150px" height="150px" alt="">
            </div>
            <div id="nomprofil">
                <h2><span id="firstname">Anthony </span><span id="lastname"> RIVIERE</span></h2>
            </div>
            <div id="button">
                <button><a href="/profil"><i class="fas fa-user-alt"></i> Voir mon profil</a></button>
            </div>      
        </div>
        <div id="bloc2">
            <div id="liens">
                <a href="/index">Accueil</a>
                <a href="#" id="select">Actualités de l'entreprise</a>
                <a href="/trombinoscope">Trombinoscope</a>
                <a href="/vie-des-chocolateries">La vie des chocolateries</a>
                <a href="/logout"><i class="fas fa-power-off"></i> Déconnexion</a>
            </div>
            <img src="../img/logo-david-kenos-blanc.png" width="150px" height="150px" alt="">
        </div>       
    </div>

   <div id="cadre">
        <div id="title"><h1>Les actualités, <span id="soustitre">des chocolateries</span></h1></div>


        <div id="search">
           <div id="villes">
                <a href="#">Nevers</a> | <a href="">La Charité</a> | <a href="">Pougues-les-eaux</a> | <a href="">Sancerre</a> | <a href="">Marzy</a>
                <div id="btnsearch"><i class="fas fa-search"></div></i><input type="text" placeholder="Rechercher...">
           </div>

        </div>
        <div id="actus">

            <div id="lastactus">
                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>

                <div id="actu1">
                    <div class="ville">Nevers</div>
                    <div class="imageactus">
                        <img src="../img/posts/paysage.jpeg" width="300px" height="160px" alt="paysage">
                    </div>
                    <div class="descriptactus">
                        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores vitae.</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
   
       
        <script src="https://kit.fontawesome.com/508ebce8fc.js"></script>

{% endblock %}
