{% extends 'baseadmin2.html.twig' %}

{% block title %}New Employe
{% endblock %}

{% block body %}
	<h1>Enregistrer un employé
	</h1>


	<div class="user">

		{{ include('admin_employe/_form.html.twig') }}
	</div>

	<a class="retour" href="{{ path('admin_employe_index') }}">Retour à la liste


	</a>
{% endblock %}
